html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.flights-container {
    position: relative;
    height: calc(100vh - 4rem);
    
    padding: 0;
    margin: 0;
    overflow: hidden;
    border-radius: 8px;
}

.map-wrapper {
    
    width: 100%;
    position: absolute;
    height: 100%;
    top:0;
    left: 0;
    z-index: 1; /* por debajo del navbar */
}




/* Preferencias botón */
.preferences-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1001;
}

/* Loading overlay */
.loading-overlay {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
    background: #ffffffdd;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

/* Error banner */
.error-banner {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
}
