.app-layout {
    display: flex;
    height: 100vh;
    width: 100vw;


       
}

/* Navbar visible */
.navbar {
    width: 70px;
    transition: transform 0.3s ease, width 0.3s ease;
    /* Si tienes position: fixed aquí, mejor quitarlo para que afecte al layout */
    /* position: fixed; */
}

/* Navbar oculto */
.navbar--hidden {
    transform: translateX(-100%);
    width: 0;
    opacity: 0;
    pointer-events: none;
}

/* Contenido con navbar visible */
.content-area {
    flex-grow: 1;
    margin-left: 90px;
    /* espacio para navbar */
    padding: 1rem;
    transition: margin-left 0.5s ease, width 0.5s ease;

    height: calc(100vh - 4rem);
 overflow-y: auto;
   







    border-radius: 8px;
}

/* Contenido con navbar oculto */
.content-area.navbar-hidden {
    margin-left: 0;
}